* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    color: #fff;
    line-height: 30px;
}

/* Header */
header {
    background-image: url(../images/camera.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    color: #fff;
    height: 400px;
    text-align: center;
}
header h1 {
    font-size: 45px;
    font-family: 'cinzel', serif;
    letter-spacing: 2px;  
}
header p {
    font-style: italic;
    font-size: 18px;
    color: #fff;
    margin-top: 10px;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.55);
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Navigasi */
nav {
    background: linear-gradient(135deg, #2e0216 0%, #1d1a22 35%, #211d27 70%, #2e0216 100%);
    display: flex;
    justify-content: center;
}
nav a {
    font-size: 16px;
    color: #eee;
    padding: 10px;
    display: block;
    text-decoration: none;
    transition: background 0.3 ease;
}
nav a:hover {
    background: linear-gradient(135deg, #2e0216 0%, #1d1a22 35%, #211d27 70%, #2e0216 100%);
}

/* Main */
.layout {
    display: grid;
    grid-template-columns: 72% 28%;
    gap: 30px;
    padding: 30px;
    align-items: start;
}
main {
    background: linear-gradient(135deg, #0b090b 0%, #0e0d0d 35%, #0b0206 70%, #111010 100%);
    padding: 25px;
    border-radius: 10px;
    text-align: justify;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
main section{
    margin-bottom: 25px;
}
main h2 {
    border-bottom: 2px solid #fefefe;
    margin-bottom: 15px;
    padding-bottom: 8px;
}
.articles {
    text-align: justify;
    padding: 15px;
    margin: 0 auto;
    max-width: 800px;
}
.articles article {
    margin-bottom: 20px;
}
.articles h3 {
    color: white;
    margin-bottom: 5px;
}

/* Read More */
.read-more {
    text-decoration: none;
    color: gold;
}

/* Gallery */
.gallery h2 {
    margin-top: 30px;
}
.gallery .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}
.gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}
.gallery img:hover{
    transform: scale(1.03);
}

/* Registrasi */
.regis-layout {
    max-width: 600px;
    margin: 0 auto;
}
.regis-exhibit{
    padding: 40px 20px;
    color: #f5f5f5;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.regis-exhibit h2 {
    font-size: 25px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.regis-form {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 10px;
    box-shadow: 0 0 20px rgba(255,255,255,0.05);
}
.form-layout{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.form-layout label {
    color: #ddd;
    font-size: 15px;
    margin-bottom: 6px;
}
.regis-form input {
    width: 100%;
    color: #fff;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    padding: 10px 10px;
    transition: all 0.3s ease;
}
.regis-form button {
    background: linear-gradient(135deg, #f5f5f5, #bcbcbc);
    color: #0b0b0b;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.regis-form button:hover {
    background: #fff;
    color: #111;
    transform: scale(1.03);
    box-shadow: 0 0 15px rgba(255,255,255,0.15);
}

/* Contact */
.contact {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.contact a {
    color: #ccc;
    font-size: 15px;
    transition: all 0.3s ease;
    text-decoration: none;
}
.contact a:hover {
    color: #ccc;
    transform: scale(1.2);
    text-shadow: 0 0 10px rgba(209, 15, 141, 0.6);
}

/* Aside */
aside {
    background: linear-gradient(135deg, #0b090b 0%, #0e0d0d 35%, #0b0206 70%, #111010 100%);
    padding: 20px;
    border-radius: 10px;
    text-align: justify;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
aside h3 {
    border-bottom: 2px solid #fefefe;
    margin-bottom: 10px;
    margin-top: 10px;
}
aside img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Footer */
footer {
    background: linear-gradient(135deg, #2e0216 0%, #0a0a0b 35%, #1a1a1b 70%, #2e0216 100%);
    color: #ccc;
    text-align: center;
    padding: 15px;
    margin-top: 60px;
}